<div class="container-fluid">
  <div class="row">
    
        <!-- Sidebar -->
        <div class="col-2 sidebar pt-5 ps-1">
        <ul class="nav flex-column">
            <li class="nav-item">
            <a class="nav-link active" href="#">
                <i class="fa-solid fa-house fs-5 me-3"></i>
                <span class="nav-text">Home</span>
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa-solid fa-list-check fs-5 me-3"></i>
                <span class="nav-text">All Tasks</span>
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa-solid fa-circle-check fs-5 me-3"></i>
                <span class="nav-text">Completed</span>
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">
                <!-- <i class="fa-solid fa-spinner fs-5 me-3"></i> -->
                <i class="fa-solid fa-hourglass-half fs-5 me-3"></i>
                <span class="nav-text">In Progress</span>
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">
                <!-- <i class="fa-regular fa-clock fs-5 me-3"></i> -->
                <i class="fa-solid fa-clock-rotate-left fs-5 me-3"></i>
                <span class="nav-text">Pending</span>
            </a>
            </li>
        </ul>
        </div>

        <!-- Main Content -->
        <div class="col-10 px-5 pt-2">
        <!-- Task Counts -->
        <div class="row mb-3">
            <div class="col task-count-box">
                <div class="row">
                    <div class="col-7">
                        <p class="lead task-count">Total Tasks: 14</p>
                    </div>
                    <div class="col-5">
                        <img src="../pics/tasks.png" alt="Task Icon" class="task-icon">
                    </div>
                </div>
            </div>
            <div class="col task-count-box">
                <div class="row">
                    <div class="col-7">
                        <p class="lead task-count">Completed: 2</p>
                    </div>
                    <div class="col-5">
                        <img src="../pics/completed-task.png" alt="Task Icon" class="task-icon">
                    </div>
                </div>
            </div>
            <div class="col task-count-box">
                <div class="row">
                    <div class="col-7">
                        <p class="lead task-count">In Progress: 6</p>
                    </div>
                    <div class="col-5">
                        <img src="../pics/work-in-progress.png" alt="Task Icon" class="task-icon">
                    </div>
                </div>
            </div>
            <div class="col task-count-box">
                <div class="row">
                    <div class="col-7">
                        <p class="lead task-count">Pending: 6</p>
                    </div>
                    <div class="col-5">
                        <img src="../pics/pending clock.png" alt="Task Icon" class="task-icon">
                    </div>
                </div>
            </div>
        </div>

        <!-- Centered Task Board -->
        <div class="content-container">
            <div class="d-flex justify-content-between align-items-center mb-2 w-100">
                <div class="search-bar">
                    <input type="text" class="form-control" placeholder="Search tasks...">
                    <button class="search-btn">
                        <i class="fas fa-search"></i>
                    </button>
                </div>

                <a type="button" onclick="CreateTask('_id')" class="btn btn-dark create-task-btn" id="createTask" data-bs-toggle="modal" data-bs-target="#CreateTaskModal">
                    <i class="fa-solid fa-plus"></i>
                    <span>Create Task</span>
                </a>
            </div>

            <!-- Task Board -->
            <div class="task-board">
                <div class="task-box">
                <div class="task-title">Task 1</div>
                <div class="task-description">This is a brief description of Task 1.</div>
                <div class="edit-delete-icons">
                    <i class="fa-solid fa-pen"></i>
                    <i class="fas fa-trash-alt"></i>
                </div>
                <div class="task-footer">
                    <span class="task-status">Completed</span>
                    <span class="task-priority" id="high">High</span>
                </div>
                </div>
                
                <div class="task-box">
                <div class="task-title">Task 2</div>
                <div class="task-description">This is a brief description of Task 2.</div>
                <div class="edit-delete-icons">
                    <i class="fa-solid fa-pen"></i>
                    <i class="fas fa-trash-alt"></i>
                </div>
                <div class="task-footer">
                    <span class="task-status">In Progress</span>
                    <span class="task-priority" id="low">Low</span>
                </div>
                </div>
                
                <div class="task-box">
                    <div class="task-title">Task 1</div>
                    <div class="task-description">This is a brief description of Task 1.</div>
                    <div class="edit-delete-icons">
                    <i class="fa-solid fa-pen"></i>
                    <i class="fas fa-trash-alt"></i>
                    </div>
                    <div class="task-footer">
                    <span class="task-status">Completed</span>
                    <span class="task-priority" id="high">High</span>
                    </div>
                </div>

                <div class="task-box">
                <div class="task-title">Task 4</div>
                <div class="task-description">This is a brief description of Task 4.</div>
                <div class="edit-delete-icons">
                    <i class="fa-solid fa-pen"></i>
                    <i class="fas fa-trash-alt"></i>
                </div>
                <div class="task-footer">
                    <span class="task-status">Completed</span>
                    <span class="task-priority" id="medium">Medium</span>
                </div>
                </div>
            </div>          
        </div>
        </div>
    </div>
</div>