<div id="popupForm" class="popup">
    <div class="popup-content">
        <!-- <span class="close" id="closePopup">&times;</span> -->
        <i class="fa-solid fa-xmark close" id="closePopup"></i>
        <h2 class="from-title my-3">Create New Task</h2>
        <hr>
        <form id="taskForm">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>

            <label for="description">Description:</label>
            <textarea id="description" name="description"></textarea>

            <label for="status">Status:</label>
            <select id="status" name="status">
                <option value="Pending">Pending</option>
                <option value="In Progress">In Progress</option>
                <option value="Completed">Completed</option>
            </select>

            <label for="priority">Priority:</label>
            <select id="priority" name="priority">
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
            </select>

            <div class="d-flex justify-content-center my-4">
                <button type="submit" class="w-100 mb-2">Save</button>
            </div>
        </form>
    </div>
</div>

<!-- <script src="JS/popup.js"></script> -->