<nav class="navbar navbar-light px-4">
    <a class="navbar-brand text-dark" href="#">
      <img src="/Images/todo-logo.png" alt="Logo" style="width: 76px;">
    </a>
    <span class="navbar-text text-dark">
      <i class="fas fa-user"></i>
      <div class="dropdown d-inline">
        <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            username
        </button>
        <a href="/Logout" class="logout text-danger">Logout</a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#">View Profile</a></li>
          <li><a class="dropdown-item" href="#">Logout</a></li>
        </ul>
      </div>
    </span>
</nav>