<!-- Centered Task Board -->
<div class="content-container">
    <!-- Task Search and Create Option -->
    <div class="d-flex justify-content-between align-items-center mb-2 w-100">
        <div class="search-bar">
            <input type="text" class="form-control" placeholder="Search tasks...">
            <button class="search-btn">
                <i class="fas fa-search"></i>
            </button>
        </div>

        <a type="button" class="btn btn-dark create-task-btn" id="createTask" data-bs-toggle="modal" data-bs-target="#CreateTaskModal">
            <i class="fa-solid fa-plus"></i>
            <span class="create-task-btn-name">Create Task</span>
        </a>
    </div>

    <!-- Task Board -->
    <div class="task-board">
        <!-- <div class="task-box">
            <div class="task-title">Task 1</div>
            <div class="task-description">This is a brief description of Task 1.</div>
            <div class="edit-delete-icons">
                <a href="#" onclick=""><i class="fa-solid fa-pen"></i></a>
                <a href="#" onclick=""><i class="fas fa-trash-alt"></i></a>
            </div>
            <div class="task-footer">
                <span class="task-status">Completed</span>
                <span class="task-priority" id="high">High</span>
            </div>
        </div>
        
        <div class="task-box">
        <div class="task-title">Task 2</div>
        <div class="task-description">This is a brief description of Task 2.</div>
        <div class="edit-delete-icons">
            <a href="#" onclick=""><i class="fa-solid fa-pen"></i></a>
            <a href="#" onclick=""><i class="fas fa-trash-alt"></i></a>
        </div>
        <div class="task-footer">
            <span class="task-status">In Progress</span>
            <span class="task-priority" id="low">Low</span>
        </div>
        </div>
        
        <div class="task-box">
            <div class="task-title">Task 1</div>
            <div class="task-description">This is a brief description of Task 1.</div>
            <div class="edit-delete-icons">
                <a href="#" onclick=""><i class="fa-solid fa-pen"></i></a>
                <a href="#" onclick=""><i class="fas fa-trash-alt"></i></a>
            </div>
            <div class="task-footer">
            <span class="task-status">Completed</span>
            <span class="task-priority" id="high">High</span>
            </div>
        </div>

        <div class="task-box">
            <div class="task-title">Task 4</div>
            <div class="task-description">This is a brief description of Task 4.</div>
            <div class="edit-delete-icons">
                <a href="#" onclick=""><i class="fa-solid fa-pen"></i></a>
                <a href="#" onclick=""><i class="fas fa-trash-alt"></i></a>
            </div>
            <div class="task-footer">
                <span class="task-status">Completed</span>
                <span class="task-priority" id="medium">Medium</span>
            </div>
        </div> -->
    </div>          
</div>
