<!-- Task Search and Create Option -->
<div class="d-flex justify-content-between align-items-center mb-2 w-100">
    <form action="/Task/<%= status %>/search" method="POST" id="searchForm">
        <div class="search-bar">
            <input type="hidden" id="hiddenInput" value="<%= status %>">
            <input type="text" class="form-control" placeholder="Search tasks..." id="titleInput" name="title">
            <button type="submit" class="search-btn" id="searchButton">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>

    <a type="button" class="me-5" id="sort-priority">
        <i class="fa-solid fa-arrow-up-wide-short"></i>
        <span class="sort-btn-text">Sort Task</span>
    </a>
</div>