<!-- Task Search and Create Option -->
<div class="d-flex justify-content-between align-items-center mb-2 w-100">
    <div class="search-bar">
        <form action="/Task/<%= status %>/search" method="POST" id="searchForm">
            <input type="hidden" id="hiddenInput" value="<%= status %>">
            <input type="text" class="form-control" placeholder="Search tasks..." id="titleInput" name="title">
            <button type="submit" class="search-btn" id="searchButton">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>

    <a type="button" class="sort-priority">
        <i class="fa-solid fa-arrow-up-wide-short"></i>
        <span class="create-task-btn-name">Create Task</span>
    </a>
</div>