<!-- Task Counts -->
<div class="row mb-3">
    <div class="col task-count-box">
        <div class="row">
            <div class="col-7">
                <p class="lead task-count">Total Tasks: <span id="totalTasks">...</span></p>
            </div>
            <div class="col-5">
                <img src="Images/tasks.png" alt="Task Icon" class="task-icon">
            </div>
        </div>
    </div>
    <div class="col task-count-box">
        <div class="row">
            <div class="col-7">
                <p class="lead task-count">Completed: <span id="completedTasks">...</span></p>
            </div>
            <div class="col-5">
                <img src="Images/completed-task.png" alt="Task Icon" class="task-icon">
            </div>
        </div>
    </div>
    <div class="col task-count-box">
        <div class="row">
            <div class="col-7">
                <p class="lead task-count">In Progress: <span id="inProgressTasks"></span></p>
            </div>
            <div class="col-5">
                <img src="Images/work-in-progress.png" alt="Task Icon" class="task-icon">
            </div>
        </div>
    </div>
    <div class="col task-count-box">
        <div class="row">
            <div class="col-7">
                <p class="lead task-count">Pending: <span id="pendingTasks">...</span></p>
            </div>
            <div class="col-5">
                <img src="Images/pending clock.png" alt="Task Icon" class="task-icon">
            </div>
        </div>
    </div>
</div>