body{
    font-family: "Poppins", sans-serif;
}

nav {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar a {
    text-align: center;
    padding: 5px 20px !important;
}


/* navbar toggle icon */

.fa-bars-staggered {
    font-size: 25px;
    color: #333;
}

.navbar-toggler {
    color: transparent !important;
    border: none !important;
}
.nav-link {
    position: relative;
}

.nav-link::before {
    content: '';
    background:  #215272;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.nav-link:hover::before,
.nav-link.active::before
{
    opacity: 0.4 !important;
} 

/* .nav-link:is(:link, :active, :visited){
    background-color: blue;
} */

.banner-image {
    width: 50vw;
    margin-left: -20px;
}

/* #F9B617 */


/* cards */

.info {
    margin-top: 60px;
}


.card {
    min-height: 150px;
    text-decoration: none;
    background-color: var(--scolor);
    border: 1px solid var(--Bcolor);
    /* width: 20re; */
    border-radius: 12px;
    padding: 10px 0;
    position: relative;
    /* overflow: hidden; */
}

.card::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    top: 5%;
    left: 2%;
    background-color:  var(--Bcolor);
    z-index: -1;
}

.card-img {
    width: 25%;
    filter: drop-shadow(5px 5px 5px rgba(18, 18, 18, 0.30));
}

.display-8 {
    font-size: 1.8rem;
    font-weight: 200;
}

/* ----- modal styles ----- */
.form-submit {
    margin: 18px 0;
    width: 100%;
}

.header-op {
    display: flex;
    justify-content: space-between;
}

/* search box styling */

.search-box {
    display: flex;
    margin-top: -10px;
}
.search-box select, .search-box select:focus {
    border: none;
}


.dropdown-toggler{
    width: 150px;
    /* text-align: center; */
    border-radius: 0;
    border: none !important;
    outline: none !important;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    vertical-align: center;
    text-decoration: none;
}
.dropdown-toggler:focus {
    outline: none !important;
    border: none !important;
}

.search-field input {
    outline: none;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #fff;
    position: relative;
}

.search-field {
    position: relative;
}

#search-submit {
    height: 30px;
    width: 30px;
    border: none !important;
    outline: none !important;
    background-color: transparent !important;
    position: absolute;
    top: 15%;
    right: 5%;
}

.fa-search {
    font-size: 20px;
}

.search-field input, .dropdown-toggler {
    box-shadow: 0 0 30px 5px rgba(0,0,0,0.15);
    box-sizing: border-box; 
    padding: 5px 15px;
    height: 40px;
}

/* add student button */
.add-btn {
    margin-top: 80px;
    height: 45px;
    width: 200px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    text-align: end;
    vertical-align: middle;
    padding-right: 20px;
    font-size: 18px;
    text-decoration: none;
}


.fa-user-plus {
    font-size: large;
    margin: 0 5px;
    margin-right: 12px;
}

/* no data found */
.no-data {
    display: flex;
    justify-content: center;
    align-self: center;
}
.no-data img {
    width: 600px;
}

/* Data Table Styling */
.table {
    background-color: #e9eff2;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
}

thead tr {
    position: sticky;
    top: 0;
    background-color: #1b699e;
    color: #eee;
}

th {
    padding: 10px 0 !important;
}

td {
    padding: 10px 0 !important;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px !important;
    min-width: 100px !important;
    max-width: 200px !important;
}

.modify-buttons {
    /* visibility: hidden; */
    opacity: 0;
    transition: 5000ms;
    transition: opacity 0.3s ease-in;
}

.action-buttons:hover .modify-buttons{
    /* visibility: visible; */
    opacity: 1;
}

@keyframes dance {
    0%, 100% {
        transform: translateY(0);
    }
    33% {
        transform: translateY(-3px);
    }
    66% {
        transform: translateY(3px);
    }
}

.view-btn {
    transition: scale(1.01) 0.3s ease-in;
    background-color: #2F85D3;
    border: 2px solid #2F85D3;
    color: #eee;
    font-weight: 500;
    /* animation: dance 0.7s ease infinite; */
}
.view-btn:hover {
    transform: scale(1.05);
}
.fa-solid {
    padding: 0 !important;
}

/** media query **/

@media (max-width: 996px) {
    .banner-image {
        width: 100%;
    }
    .search-box {
        margin-top: 50px;
    }
}

@media (max-width: 900px) {
    .search-box {
        margin-top: 100px;
        margin-bottom: 80px;
    }
    .table {
        font-size: 16px;
    }
}

@media (max-width: 800px) {
    .header-op{
        justify-content: center;
    }
    .add-btn {
        width: 53px;
        margin-left: 20px;
    }
    .search-box {
        margin: 50px;
    }
}