:root {
    --purple: #6a5acd;
    --lavender: #6a5acd;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}


/* General Styling */
body {
    background-color: #edf2f7;
    height: 100vh;
}

/* Sidebar Styling */
.sidebar {
    margin-top: 20px;
    height: 85vh;
    background-color: #f8f9fa; /* Light background */
    padding: 0; /* No padding to align items properly */
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
}

.nav-link {
    color: #6a5acd;
    padding-left: 40px;
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: start;
    transition: background-color 0.3s;
}
.nav-link:visited {
    color: #6a5acd;
}
.nav-link:hover {
    background-color: #6a5acd; 
    color: #fff;
}
.nav-link.active {
    background-color: #000; 
    color: #fff;
}

.nav-link i {
    padding-left: 10px;
}

.btn-link.dropdown-toggle{
    color:#6a5acd;
    font-weight: 500;
}

.fa-user {
    color: #6a5acd;
}

.dropdown-item:hover {
    color: #6a5acd !important;
}

.dropdown-item:active {
    background-color: #6a5acd !important;
    color: #fff !important;
}
/* Navbar Styling */
.navbar {
    background-color: #f8f9fa;
    height: 50px;
}

/* Task Count Styling */
.task-count-box {
    margin: 10px;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; 
    color: #333;
}
  
.task-count {
    font-size: 1.2rem;
}

.task-icon {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

#completed-tasks {
    border: 2px solid #5603ae;
    color: #5603ae;
}
#inprogress-tasks {
    border: 2px solid #018715;
    color: #018715;
}
#pending-tasks {
    border: 2px solid #cf9f04;
    color: #cf9f04;
}

/* Task Board Styling */

.task-board {
    /* background-color: #eaeaf1;  */
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    width: 100%;
    flex-grow: 1;
    height: 450px; 
    overflow-y: scroll;
}

@media (max-width: 1350px) {
    .task-board {
        grid-template-columns: repeat(2, 1fr); 
    }
}    

@media (max-width: 1200px) {
    .nav-text {
        display: none;
    }
    .task-footer {
        margin-top: 50px;
    }
    .sidebar {
        padding-left: 20px;
    }
}

/* Responsive for smaller screens */
@media (max-width: 992px) {
    .task-count {
        font-size: 1rem;
    }
    .create-task-btn-name {
        display: none;
    }
    .nav-link {
        padding-left: 10px;
    }
    .task-priority {
        display: none;
    }
    .priority-indicator {
        display: block;
    }
    .search-bar input {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .task-board {
        grid-template-columns: 1fr; 
    }
    .task-icon {
        display: none;
    }
}

/* Task Box Styling */

/* Edit and delete icons */

/* Task Footer (Status and Priority) */

/* Task status */
.task-status {
    font-weight: 600;
    color: #222; 
}
.task-status#completed{
    color: #018501;
}
.task-status#inprogress{
    color: #f39c12;
}
.task-status#pending{
    color: #ee2f2f;
}

/* Task priority */
.task-priority {
    font-weight: 600;
    font-size: 13px;
    color: #fff;
    padding: 2px 7px;
    border-radius: 4px;
}

.priority-indicator {
    position: relative;
    bottom: -5px;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    display: none;
}

.task-priority#high , .priority-indicator#high{
    background-color: #f73d3d; 
}
.task-priority#low, .priority-indicator#low{
    background-color: #f39c12;
}
.task-priority#medium, .priority-indicator#medium{
    background-color: #497ce3;
}


.task-box {
    background-color: #fff; 
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    /* color: #3727a1; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 150px; 
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    cursor: pointer;
    min-height: 170px;
    max-width: 400px;
    overflow: hidden;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    /* min-width: 200px; */
}

.task-box:hover {
    transform: scale(1.05);
}

.task-box:hover .edit-delete-icons {
    opacity: 1; 
}



/* Center the task board */
.content-container {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    padding: 0px; 
}

/* Create Task Button */
.create-task-btn {
    background-color: orange;
    color: white;
    border: none;
    padding: 8px 18px;
    width: auto;
}
.create-task-btn:hover {
    background-color: #db8f00 !important;
    color: #fff;
}

/* Search Bar Styling */
.search-bar {
    display: flex;
    align-items: center; 
    width: 380px;
    box-sizing: border-box;
    padding: 15px; 
    height: 38px;
    position: relative;
}

.search-bar input {
    padding-left: 25px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.15);
    background-color: #fff;
    font-weight: 300;
    border-radius: 20px;
}

.search-btn {
    /* background-color: #497ce3;  */
    background-color: var(--lavender);
    border: none; 
    color: #fff;
    width: 50px;
    padding: 0 18px;
    height: 38px;
    position: absolute;
    right: 3%;
    border-radius: 20px;
    cursor: pointer; /* Pointer cursor on hover */
}
.search-btn:hover {
    background-color: #497ce3;
    color: #fff;
}

.search-icon {
    position: absolute;
    margin-left: 10px; /* Space from the left */
}

.task-title {
    text-align: start;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;  
    overflow: hidden;
    text-overflow: ellipsis; 
}

.task-description {
    text-align: start;
    margin-bottom: 14px;
    color: #777;
    font-size: 14px;
    height: 38px;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.task-footer {
    display: flex;
    position: absolute;
    /* margin-top: 50px; */
    bottom: 10px;
    gap: 20px;
    justify-content: space-between;
    font-size: 14px;
}

.edit-delete-icons {
    position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: 0;
    transition: opacity 0.3s ease; 
}

.edit-delete-icons a {
    padding: 3px;
    font-size: 17px;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-right: 7px;
}

/* Icon colors */
.edit-delete-icons .fa-pen {
    color: #128e12; 
}

.edit-delete-icons .fa-trash-alt {
    color: red; 
}

input#description {
    color:#018715;
}

.form-select option:hover {
    background-color: #684747;
    color: #333;
}

#sort-priority {
    background-color: var(--purple);
    color: #fff;
    padding: 6px 15px;
    cursor: pointer;
    text-decoration: none;
}

.logout {
    text-decoration: none;
}

#dropdown-menu {
    display: none;
}

.show {
    display: block;
}
.no-task-found {
    display: flex;
    width: 70vw;
    justify-content: center;
    align-items: center;
    /* color: blue; */
    /* background-color: #ccc; */
}
.no-task-found h2{
    text-align: center;
    font-size: 50px;
}
