* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
:root {
    --lavender: #6a5acd;
    --purple: #5603ae;
}

body {
    font-family: Arial, sans-serif;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.popup {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

.popup-content {
    background-color: #fff;
    position: absolute; /* Use absolute positioning */
    top: 50%; /* Position from the top */
    left: 50%; /* Position from the left */
    transform: translate(-50%, -50%); /* Center the popup */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 500px; /* Set a max width */
    border-radius: 5px;
    animation: fadeIn 0.3s; /* Fade in effect */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Style for form inputs */
input[type="text"], textarea, select {
    width: 100%;
    padding: 6px 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-radius: 20px;
}

/* Priority color styles */
select#priority {
    color: black; /* Default color */
}

select#priority option[value="low"]:checked {
    color: orange;
}

select#priority option[value="medium"]:checked {
    color: blue;
}

select#priority option[value="high"]:checked {
    color: green;
}

button[type="submit"] {
    justify-content: center;
    background-color: var(--lavender);
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 20px;
}

button[type="submit"]:hover {
    background-color: var(--purple);
}
